@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@300&display=swap');

p {
    font-family: 'Trispace', sans-serif;
    font-size: 12pt;
    text-indent: 20px;
    text-align: justify;
    margin: 0px 5px;
    padding-top: 5px;
}
div.container-all {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

div.img-comment {
    border-bottom: 1px solid rgb(100, 100, 100);
}

h1.titulo {
    color: green;
    padding: 5px 5px 15px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
div.card-container {
    border: 3px solid rgb(74, 124, 73);
    margin-bottom: 10px;
}
div.card-container p{
    font-size: 10pt;
    padding: 5px;
}
img.news-img {
    width: 100%;
    
    border-bottom: 0px;
    
}
div.comment {
    background-color: rgb(187, 241, 192);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

div.news-content {
    background-color: rgba(167, 167, 167, 0.2);
    margin-top: 10px;
    max-height: 60vh;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(231, 231, 231);
}

::-webkit-scrollbar-thumb {
    background:  rgb(103, 148, 108);
    border-radius: 10px 10px 10px 10px;
}
::-webkit-scrollbar-thumb:hover {
    background:  rgb(83, 119, 87);
  }