@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@300;400;500;600&display=swap');

.container {
    margin-top: 20px;
    margin-bottom: 25px;
}

.container .text {
    font-family: "Trispace", sans-serif;
    font-weight: 400;
    margin-top: 20px;
}

.container .text h5 {
    font-weight: 600;
}

.container .text h6 {
    font-style: 500;
    padding-bottom: 20px;
}

.container img {
    width: 100%;
    height: auto;
}

