@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@300;400;500;600&display=swap');

.container {
    margin-top: 30px;
    font-family: "Trispace", sans-serif;
    margin-bottom: 20px;
}

body{
    background-color: beige
}
.container h5 {
    font-weight: 600;
}

.container h6 {
    font-weight: 500;
}

.container {
    font-weight: 400;
}


