@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@300;400;500;600&display=swap');

body{
    background-color: rgb(248, 248, 230);
    min-width: 1300px;
    
}

h1{
    align-self: center;
    text-align: center;
    color: green;
}

p{
    text-indent: 15px;
}

p.text1{ 
    margin-top: 15px;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    margin-bottom: 0px;
}

p.text2{
    display: inline;
    text-align: justify;
}

p.text3{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 50px;
    font-size: 20px;
    background-color: wheat;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding-right: 10px;
}

img.img1{
    display: inline-block;
    margin-bottom: 100px;  
    margin-top: -290px; 
    border: black solid 10px; 
    border-radius: 10px;
    margin-left: -4px;
    max-height: 500px;
    min-height: 400px;
    height: 26vw;
}

img.img2{
    display: inline-block;
    margin-top: -436px;
    background-color: hotpink;
    border: solid 10px;
    border-radius: 10px 0px 0px 10px;
    margin-right: -4px;
    max-height: 400px;
    min-height: 300px;
    height: 20vw;
    margin-left: calc(45vw - 500px);
}

div.texbox1{
    display: inline-block;
    font-family: "Trispace", sans-serif;
    margin-top: 100px;
    width: 500px;
    margin-bottom: -177px;
    margin-left: calc(48vw - 600px);
}

div.texbox2{
    font-family: "Trispace", sans-serif;
    margin-top: 0px;
    display: inline-block;
    width: 530px;
    background-color: wheat;
    padding: 2px;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 5px;
    margin-left: -1px;
    
}


footer{
    display:block;
    margin-top: 50px;
    text-align: center;
    align-items: center;
    margin-left: auto;
}