@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@300;400;500;600&display=swap');

body{
    max-width: 1300px;
    min-width: 720px;
    background-color: rgb(255, 254, 236);
}

h1{
    text-align: center;
    color: green;
}

p.text1{ 
    margin-top: 15px;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    margin-left: 30px;
    margin-bottom: 0px;
}

p.text2{
    display: inline;
    text-align: justify;
}

p.text3{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 50px;
    font-size: 20px;
    background-color: wheat;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding-right: 10px;
}

img.img1{
    display: inline-block;
    margin-left: 500px;
    margin-bottom: 100px;  
    margin-top: -280px; 
    border: black solid 10px; 
    border-radius: 10px;
}

img.img2{
    display: inline-block;
    margin-top: -436px;
    background-color: hotpink;
    margin-left: 60px;
    border: w solid 10px;
    border-radius: 10px 0px 0px 10px;
    margin-right: -4px;
    height: 400px;
}

div.texbox1{
    font-family: "Trispace", sans-serif;
    margin-top: 100px;
    width: 500px;
    margin-bottom: -177px;
    
}

div.texbox2{
    font-family: "Trispace", sans-serif;
    margin-top: 0px;
    display: inline-block;
    width: 530px;
    background-color: wheat;
    padding: 2px;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 5px;
    margin-left: -1px;
    
}

footer{
    margin-top: 50px;
    display: block;
    max-width: 1000px;
    margin-left: auto;
    padding-left: 120px;
    margin-right: -70px;
}