@charset "UTF-8";

p {
    font-size: 12pt;
    text-indent: 10px;
    text-align: justify;
    margin: 0px 5px;
    padding-top: 5px;
}

div.container-all {
    display: flex;
    flex-direction: row;
    padding: 15px;
}
div.img-comment {
    border-right: 1px solid rgb(100, 100, 100);
    padding-right: 10px;
    
}
img.news-img {
    width: 560px;
}
div.comment {
    background-color: wheat;
}

div.news-content {
    max-height: 85vh;
    padding-left: 5px;
    overflow-y: scroll;
    
}