@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@300&display=swap');

p {
    font-family: 'Trispace', sans-serif;
    font-size: 12pt;
    text-indent: 20px;
    text-align: justify;
    margin: 0px 5px;
    padding-top: 5px;
}

div.container-all {
    display: flex;
    flex-direction: row;
    padding: 15px;
}
div.img-comment {
    border-right: 1px solid rgb(100, 100, 100);
    padding-right: 10px;
}

h1.titulo {
    color: green;
    padding: 5px 5px 15px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

div.card-container {
    box-shadow: -2px 2px 5px gray;
    border: 4px solid rgb(150, 255, 146);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

img.news-img {
    width: 100%;
    
    border-bottom: 0px;
    
}
div.comment {
    background-color: wheat;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

div.news-content {
    max-height: 110vh;
    padding-left: 5px;
    overflow-y: scroll;
    
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
    background: rgb(147, 255, 137);
    border-radius: 10px 10px 10px 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(91, 214, 87);
  }